@font-face {
	font-family: 'SEGOEUIL';
	src: url('../fonts/SEGOEUIL.eot'),
		 url('../fonts/SEGOEUIL.woff') format('woff'),
		 url('../fonts/SEGOEUIL.ttf') format('truetype');
}
.buttons {
	display: inline-block;
}
.button {
	height: 72px !important;
	display: inline-block;
	margin: 0;
	text-align: left;
	padding-left: 10px;
	padding-right: 45px;
	line-height: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.button-text {
	font-family: 'SEGOEUIL', sans-serif !important;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	float: left;
}
.button-icon {
	display: inline-block;
	float: left;
	margin-right: 5px;
}
.color-sample {
	display: inline-block;
    width: 10px;
    height: 10px;
}
.blue {
	background-color: #0678bd;
}
.purple {
	background-color: #934d95;
}
.green {
	background-color: #7ab642;
}
.orange {
	background-color: #ea6a23;
}
.yellow {
	background-color: #eaa117;
}
.black {
	background-color: #3a3a3a;
}
.up{
	color: #fff;
}
.clicked, .disabled{
	color: rgba(255, 255, 255, .35);
	position: relative;
}
.clicked .button-icon, .disabled .button-icon {
	opacity: .35;
}
.down {
	color: rgba(255, 255, 255, .9);
	position: relative;
}
.down .button-icon {
	opacity: .9;
}
.down:after, .clicked:after {
	content: '';
	position: absolute;
    width: 100%;
    display: inline-block;
    height: 72px;
    top: 0;
    left: 0;
    border: 3px solid rgba(255, 255, 255, .7);
}